@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// ------ Typography -------
$font-base: "Roboto", sans-serif;
$font-size-small: 24px;
$font-size-extra-lg: 128px;

// ------ Colors -------
$color-primary: #ff7b76;
$color-secondary: #091429;
